*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
li{
    list-style: none;
    text-decoration: none;
}
a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: bolder;
}
a:hover{
    text-decoration: none;
    color: white;
}
p{
    font-weight: bold;
}
.btn{
    padding: 1em 1.2em;
}
body{
    text-align: center;
    color: white;
    /* background: rgb(255,214,23);
    background: linear-gradient(90deg, rgba(255,214,23,1) 21%, rgba(228,193,35,1) 39%, rgba(144,132,83,1) 66%); */
    
    /* background-image: url('./images/5039684.jpg'); */
    /* background-position: 10%; */
}

.mainApp{
    margin-bottom: 100%
}


 
/* <Route path='/checkapi' exact component={CheckApi}/> 
<Route path='/apilist' exact component={ApiList}/> 
<Route path='/gridarea' exact component={GridArea}/> 
<Route path='/landing' exact component={LandingPage}/>  */