.dashboard__main{
    width: 100%;
    min-height: 100vh;
    background-image: url('../../images/5039684.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 4em;
    
}
.dash__box__1{
    padding-top: 4em;
}
.dash__box__1 span{
    color: #FBA317;
}
.sign__color{
    color: #FBA317;
    margin-right: 0.3em;
}
.linkDash ul{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.dash__profile{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.profileDash{
    display: flex;
    align-items: center;
}
.dash__links{
    margin-top: 5em;
    min-height: 20vh;
    background-color:#2B0945;
    padding-top: 4em;
}
.dash__profile{
    margin-top: 4em;
    padding-left: 8em;
}
.profileDash{
    min-height: 10vh;
    background-color: #481961;
    width: 100%;
    padding-left: 4em;
}
.about__dash__info{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.about__dash{
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 0 8em;
}
.about__dash__info{
    min-height: 10vh;
    background-color: #481961;
    padding-top: 2em;
    padding-bottom: 3em;

}
.blance__info{
    margin: 8em;
}
.balance__info__box{
    padding: 3em 0;
    background-color: #481961;
}
.blance__info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.balance__info__box i{
    margin-bottom: 0.4em;
}
.dashboard__main i{
    color: #FBA317;
}
.link__reffer{
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
    padding: 1em;
    background-color: #481961;
}
.link__reffer i{
    margin-right: 0.5em;
}
.last__dash{
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0 8em;
    grid-gap: 20px;
}
.last__dash__box{
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #2A103E;
    min-height: 12vh;
    padding-top: 2em;
    
}
.last__dash__box p,.p__text{
    font-size: 1em;
}


@media screen and (max-width: 768px){
    h1{
        font-size: 1.3rem;
    }
    h2{
        font-size: 1rem;
    }
    h3{
        font-size: 0.9rem;
    }
    .linkDash ul{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
        padding-bottom: 3em;
    }
    .dash__profile{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
  
    .profileDash{
        display: flex;
        align-items: center;
    }
    .dash__links{
        margin-top: 5em;
        min-height: 20vh;
        background-color:#2B0945;
        padding-top: 4em;
    }
    .dash__profile{
        margin-top: 4em;
        padding-left: 0em;
    }
    .profileDash{
        min-height: 10vh;
        background-color: #481961;
        width: 100%;
        padding-left: 1em;
    }
    .about__dash__info{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .about__dash{
        margin-top: 4em;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
        padding: 0 1em;
    }
    .about__dash__info{
        min-height: 10vh;
        background-color: #481961;
        padding-top: 2em;
        width: 100%;
    
    }
    .blance__info{
        margin: 3em 1.5em;
    }
    .balance__info__box{
        padding: 3em 0;
        background-color: #481961;
    }
    .blance__info{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
    .balance__info__box i{
        margin-bottom: 0.4em;
    }
    .dashboard__main i{
        color: #FBA317;
    }
    .link__reffer{
        width: 85%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 9vh;
        padding: 1em;
        background-color: #481961;
    }
    .link__reffer i{
        margin-right: 0.5em;
    }
    .last__dash{
        margin-top: 4em;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 0 1em;
        grid-gap: 10px;
    }
    .last__dash__box{
        margin-top: 4em;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        background-color: #2A103E;
        min-height: 12vh;
        padding-top: 2em;
        
    }
    .last__dash__box p{
        color: #FBA317;
    }
}