.home__main{
    width: 100%;
    min-height: 80vh;
    background-image: url('../../images/5039684.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 4em;
}
.welcome__info{
    padding: 5em 0;
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.welcome__img img{
    width: 100%;
}
.welcome__text h1{
    font-size: 5rem;
    width: 100%;
}
.welcome__text {
    margin-left: -4em;
}
.text__pay{
    color: #FFB612;
}
.welcome__text h3{
    margin: 1em 0;
}
.about__investment{
    color: white;
}
.about__investment i{
    min-width: 50%;
    background-color: #9F6AF7;
    border-radius: 50%;
    padding: 1em ;
    box-shadow: 0px 0px 20px white;
    margin-bottom: 0.7em;
}
.about__investment{
    width: 100%;
    min-height: 30vh;
    background-color: #140629;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}


.title{
    font-size: 2.5rem;
    padding: 1.4em;
}
.container__2{
 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding: 0 2em;
}
.box{
    background-color: #fff;
    padding: .9em;
    border-radius: 3%;
    
    background-image: url('../../images/5039684.jpg');
    background-position: center;
    background-size: cover;
    color: white;
   
}
.price{
    font-size: 2rem;
    font-weight: 800;
    color: #FFB612;
}
.box p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.2em;
    text-transform: uppercase;
}
.content{
    font-size: 1.1rem;
    font-weight: 600;
    padding: .8rem;
}
.content i{
    margin-left: .8em;
    font-size: 1.3rem;
}
.fa-check{
    color: green;
}
.fa-times{
    color: red;
}
.box .btn{
    margin-top: 2em;
    border-radius: 40px;
    padding: 1em 2em;
}
.box__2{
    margin-top: -15px;
    box-shadow: 0px 0px 20px #fa5f55;
    position: relative;
}
.popular{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1rem;
    font-weight: 700;
    background-color: #fa5f55;
    color: white;
    padding: 0.8em;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 10px;
}
.popular__1{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1rem;
    font-weight: 700;
    background-color: #97fa55;
    color: white;
    padding: 0.8em;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 10px;
}
.box h1{
    font-size: 5rem;

}
.box__1{
    position: relative;
    box-shadow: 0px 0px 20px  #97fa55;
}
.box__1 .btn{
    background-color:  #97fa55;
    color: white;
}
.box__2 .btn{
    background-color:  #fa5f55;
    color: white;
}
.box__3 .btn{
    background-color:  #6055fa;
    color: white;
}
.box__3{
    position: relative;
    box-shadow: 0px 0px 20px  #6055fa;
}
.popular__3{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1rem;
    font-weight: 700;
    background-color:#6055fa;
    color: white;
    padding: 0.8em;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 10px;
}
.about__investmentt__plan{
   
    margin-top: 4em;
}
.header__text span{
    color: #FBA317;
}
.header__text,.title{
    color: white;
}
.plan__me{
    margin-top: 3em;
}
.plan__me i{
    min-width: 40%;
    background-color: #F8941D;
    border-radius: 50%;
    padding: 1em ;
    box-shadow: 0px 0px 20px white;
}
.text__content{
    margin: 2em 0;
}
.payitforward__flow{
    margin: 7em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.pay__img__flow img{
    width: 100%;
}
.pay__text__flow{
    margin-top: 2em;
  
}
.pay__text__flow p{
    margin-top: 2em;
    font-size: 1.5rem;
}
.pay__text__flow span{
    color:  #F8941D;;
}
.feature__me span{
    color:  #F8941D;
}
.feature__all{
    margin: 4em;
}
.feature__img img{
    margin-top: 1em;
   border-radius: 30%;
    background-color: #F8941D;
}
.feature__text h3{
    color:  #F8941D;
}
.feature__text p{
    width: 70%;
    margin: 0 auto;
    font-size: 1.5em;
    font-weight: bolder;
}
.feature__all{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 5em;
}
.howItWork{
    margin: 5em 0;
    color:   #FBA317 ;
}
.workInfo p{
    line-height: 2em;
    font-weight: bold;
    margin:  0 auto;
}
.workInfo{
    margin: 2em;
    padding: 2em 0;
    background-color: #481961;
    
    margin: 0 auto;
}
.overWork{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 0 3em;
}
.workInfo h3{
    margin: 1em 0;
    color:  #F8941D;
}
.workInfo p{
    padding: 0 3em;
}
.reffer__comm{
    margin-top: 8em ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    min-height: 80vh;
    background-color: #3C1054;
    padding: 4em 0;
}
.reffer__img img{
    width: 100%;
}
.reffer__box__1 {
    margin-top: 4em;
}
.reffer__box__1 span{
    color:  #F8941D;
}
.reffer__box__1 p{
    width: 80%;
    font-size: 1.5rem;
    margin:  0 auto;
    padding: 2em 0;
}
.reffer__item h2{
    width: 40%;
    background-color: #9F6AF7;
    border-radius: 50%;
    padding: 1em ;
    box-shadow: 0px 0px 20px white;
    margin-right: 1em;
}
.reffer__item{
    display: flex;
    align-items: center;
    margin-bottom: 4em;
}
.reffer__h3{
    color:  #F8941D;
}
.reffer__box__2{
    margin-top: 3em;
    padding: 0 3em;
    grid-gap: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
}
.about__payment{
    position: relative;
    min-height: 25vh;
    background-color: #2B0945;
}
.payment__accept{
    margin: 8em;
    padding: 4em 0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 20px;

   
}
.api{
    width: 100%;
    min-height: 80vh;
}
.marqueeText img{
    display: inline;
    margin: 0 3em;
}
.litcoin{
    min-width: 30%;
    height: 20vh;
}

@media screen and (max-width: 768px){
    h1{
        font-size: 1.3rem;
    }
    h2{
        font-size: 1rem;
    }
    h3{
        font-size: 0.9rem;
    }
    .welcome__text h1{
        font-size: 2.5rem;
        width: 100%;
    }
    .welcome__info{
        padding: 5em 0;
        color: white;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .welcome__text {
        margin-left: -1em;
    }
    .about__investment{
        width: 100%;
        min-height: 30vh;
        background-color: #140629;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 4em;
        padding: 2em 0;
    }
    .container__2{
 
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 80px;
        padding: 0 2em;
    }
    .payitforward__flow{
        margin: 1em;
        display: grid;
        grid-template-columns: repeat(1,1fr);
       
    }
    .pay__text__flow p{
        margin-top: 1em;
        font-size: 1rem;
        width: 100%;
        font-weight: bold;
      
    }
    
    .pay__text__flow h1{
        font-size: 1.2rem;
    }
    .feature__all{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 2em;
        grid-gap: 5em;
    }
    .feature__text p{
        width: 100%;
        margin: 0 auto;
        font-size: 1.5em;
        font-weight: bolder;
    }
    .feature__box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        'feature__img';
    }
   .feature__img{
       grid-area: feature__img;
       margin-bottom: 1em;
   }
   .overWork{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
    }
    .workInfo h3{
    margin: 1em 0;
    }
    .workInfo p{
    padding: 0 1em;
 }
 .reffer__box__2{
    margin-top: 3em;
    padding: 0 3em;
    grid-gap: 30px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.reffer__comm{
    margin-top: 8em ;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    min-height: 80vh;
    background-color: #3C1054;
    padding: 4em 0;
}
.payment__accept{
    margin: 8em;
    padding: 4em 0;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;

   
}
.api{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.reffer__box__1 p{
    width: 100%;
    font-size: 1.5rem;
    margin:  0 auto;
    padding: 2em 0;
    padding: 0 0.5em;
}
.pay__text__flow p{
    margin-top: 2em;
    font-size: 1rem;
    margin: 0 auto;
}
.welcome__text h1{
    font-size: 1.5rem;
}
.title{
    font-size: 2rem;
    padding: 0.5em;
}
.box h1{
    font-size: 1.5rem;

}
.price{
    font-size: 1rem;
    min-width: 50%;
    margin: auto;
    font-weight: 800;
    color: #FFB612;
}
.about__investmentt__plan .box{
    padding-bottom: 2em;
}
.reffer__box__1 p{
    width: 100%;
    font-size: 1rem;
    margin:  0 auto;
    padding: 2em 1em;
}
.pay__pay{
    padding-top: 3em;
}

}

@media screen and (max-width: 500px){
   
}